<div class="nested-fields">
      <%= f.label :stakeholderid %><br>
      <%= f.text_field :stakeholderid %><br>


      <%= f.label :stakespercent %><br>
      <%= f.text_field :stakespercent %><br>

  
 </div>