<p>
	<strong>Title</strong>
	<%= @ipasset.title %>
</p>

<p>
	<strong>Description</strong>
	<%= @ipasset.description %>
</p>

<p>
	<strong>Filename</strong>
	<%= @ipasset.filename %>
</p>

<p>
	<strong>File data</strong>
	<%= link_to "Download", @ipasset.attachment_url %>
</p>

